<% @user = params[:user] %>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>PAC Manager | Stage Productions without the Drama</title>
	
	<link href="/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="masthead">
	<h1>PAC Manager v0.1</h1>
	<ul>
		<% case @user when "admin", "participant" %>
		<li class="tab"><a href="/dashboard?user=<%=@user%>">Dashboard</a></li>
		<li class="tab"><a href="/account?user=<%=@user%>">Account Settings</a></li>
		<li class="tab"><a href="/profile?user=<%=@user%>">Add Profile</a></li>
		<% end %>
		<% if @user == "admin" %>
		<li class="tab"><a href="/activity?user=<%=@user%>">Add Activity</a></li>
		<li class="tab"><a href="/list?user=<%=@user%>">View All Users</a></li>
		<% end %>
		<% case @user when "admin", "participant" %>
		<li><a href="/">Sign Out</a></li>
		<% end %>
	</ul>
</div>
<div id="content">
	<%= yield %>
</div>
<div id="copyright">
	<p>&copy; 2011 David Perini, all rights reserved.</p>
</div>
</body>
</html>